.content{
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-top: 2em;
}

body{
  background-color: gray;
}

.intro-text{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.maintext{
  width: 50%;
}

.title{
  font-size: 50px;
  padding: 5px;
}

#oval {
  width: 50%;
  height: 15em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightgray;
}
