#background {
  position: absolute;
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
}

#ManskligaRattighetertxt {
  width: 30vw;
}

@media only screen and (max-width:1000px) {
  #ManskligaRattighetertxt {
    width: 55vw;
  }
  
  .hidden {
    visibility: hidden;
  }

}

@media only screen and (max-width:600px) {
  #ManskligaRattighetertxt {
    width: 75vw;
  }

}

@font-face {
  font-family: text-font-main;
  src: url(assets/typo-grotesk-font/TypoGrotesk-rqop.ttf);
}

@font-face {
  font-family: text-font;
  src: url(assets/typo-grotesk-font/TypoGroteskBold-2Kxl.ttf);
}

h2{
  font-family: text-font, sans-serif, 'Times New Roman', Times, serif;
  font-size: 25px;
}





.content{
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  padding-top: 2rem;
}

#texts{
  z-index: 10;
}

body {
  background-color: #e6f3ff;
  margin: 0;
  padding: 0;
  font-family: text-font-main, sans-serif, 'Times New Roman', Times, serif;
}

.intro-text{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.maintext{
  width: 50%;
}

@keyframes clouding{
  from{
    transform: translateY(0%);
  }

  50%{
    transform: translateY(20%);
  }

  to{
    transform: translateY(0%);
  }
  
}

#cloud1{
  position: absolute;
  top: 10%;
  left: 8%;
  width: 12rem;
  animation: clouding 8s infinite;
}

#cloud2{  
  position: absolute;
  top: 17%;
  left: 18%;
  width: 14rem;
  animation: clouding 13s infinite;
}

#cloud3{
  position: absolute;
  top: 5%;
  left: 29%;
  width: 9rem;
  animation: clouding 11s infinite;
}

#cloud4{
  position: absolute;
  top: 20%;
  right: 27%;
  width: 11rem;
  animation: clouding 7s infinite;
}

#cloud5{
  position: absolute;
  top: 5%;
  right: 14%;
  width: 13rem;
  animation: clouding 13s infinite;
}

#cloud6{
  position: absolute;
  top: 17%;
  right: 5%;
  width: 14rem;
  animation: clouding 11s infinite;
}

#cloud7{
  position: absolute;
  top: 4%;
  right: 41%;
  width: 16rem;
  animation: clouding 11s infinite;
}

.hidden {
  z-index: -8;
}

#ground {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  bottom: 0;
  z-index: -6;
}

#Pratbubbla {
  position: absolute;
  left: 14%;
  top: 50%;
  width: 22rem;
  z-index: 10;
}

#blommtext {
  position: absolute;
  width: 14rem;
  left: 17%;
  top: 53%;
  z-index: 20;
  font-size: 17px;
}


#sol { 
  position: absolute; 
  width: 8rem; 
  right: 6%; 
  top: 5%; 
  z-index: -9; 
}