body{
  background-color: gray;
  margin: 0;
  padding: 0;
}

nav{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.logo-button-box{
  display: flex;
  justify-content: space-around;
  padding-top: 2em;

}

.logo-box{
  background-color: white;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-div{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-right: 4em;
}

.logo-box:hover{
  cursor: pointer;
  scale: 1.1;
  transition:0.2s ease-in-out;
}