
@media only screen and (width < 1300px ){

  .figure{
    display: none;
  }
}

body{
  background-color: #e6f3ff;
  margin: 0;
  padding: 0;
  font-family: text-font,'Times New Roman', Times, serif;
  font-size: 30px;
  color: #526d37;
}

@font-face {
  font-family: text-font;
  src: url(assets/typo-grotesk-font/TypoGroteskBold-2Kxl.ttf);
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
  margin-top: 0.5em;
}

.logo-button-box{
  position:relative;
}

.logo-box{
  background-color: white;
  height: 9rem;
  width: 9rem; 
  border-radius: 100000px;
  border: solid black;
  padding: 0;
  margin: 0;
  text-align: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.figure{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

.figure-up{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5rem;
  margin-bottom: 9rem;
}

.category-title{
  margin-left: 100px;
}

.logo-box:hover{
  cursor: pointer;
  scale: 1.1;
  transition:0.2s ease-in-out;
}

.group-name{
  margin-top: 0.5em;
  padding: 0;
}

#background {
  position: absolute;
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#treatment1{
  position: absolute;
  top: 16vh;
  left: 27vw;
}

#treatment2{
  position: absolute;
  top: 33vh;
  left: 43vw;
}

#law{
  position: absolute;
  top: 22vh;
  left: 59vw;
}

#culture{
  position: absolute;
  top: 27vh;
  left: 33vw;
}

#religion{
  position: absolute;
  top: 30vh;
  left: 51vw;
}

#fakenews{
  position: absolute;
  top: 16vh;
  left: 27vw;
}

#censor{
  position: absolute;
  top: 33vh;
  left: 43vw;
}

#politics{
  position: absolute;
  top: 22vh;
  left: 59vw;
}

#stateprotec{
  position: absolute;
  top: 16vh;
  left: 27vw;
}

#economy{
  position: absolute;
  top: 33vh;
  left: 43vw;
}

#education{
  position: absolute;
  top: 22vh;
  left: 59vw;
}

#workcondition{
  position: absolute;
  top: 25vh;
  left: 27vw;
}

#workcondition2{
  position: absolute;
  top: 43vh;
  left: 46vw;
}

#slavery{
  position: absolute;
  top: 20vh;
  left: 65vw;
}

#workrights{
  position: absolute;
  top: 6vh;
  left: 43vw;
}
