.blad {
  position: absolute;
  left: 50%;
  top: 10rem;
  width: 7rem;
  height: 7rem;
  transform-origin: 0% 0%;
}

.blommbilder {
  height: 100%;
  width: 100%;
  position: absolute;
}

.blommText {
  position: absolute;
  margin: 0;
  top: 45%;
  left: 25%;
  transform: rotate(50deg);
  opacity: 0;
  color: black;
}

#bladn1 {
  transform: rotate(225deg);
}

#bladn2 {
  transform: rotate(297deg);
}

#bladn3 {
  transform: rotate(369deg);
}

#bladn4 {
  transform: rotate(441deg);
}

#bladn5 {
  transform: rotate(513deg);
}


#blommasmitt {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: calc(50% - 2.5rem);
  top: calc(10rem - 2.5rem);
  z-index: 5;
}

#blommasmittimg {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
}

#blommbildn1n2 {
  opacity: 0;
}

#blommbildn2n2 {
  opacity: 0;
}

#blommbildn3n2 {
  opacity: 0;
}

#blommbildn4n2 {
  opacity: 0;
}

#blommbildn5n2 {
  opacity: 0;
}

#flower {
  position: relative;
}

@media only screen and (max-width: 500px) {
  .blad {
    top: 16rem;
  }

  #blommasmitt {
    top: calc(16rem - 2.5rem);
  }

}